body {
    background-color: #070707;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    image-rendering: pixelated;
}

#board {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    image-rendering: pixelated;
    background: #070707;
    z-index: 1;
}

/* Parts of the speech bubble code from: https://freefrontend.com/css-speech-bubbles/ */
p.bubble {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-240px) translateX(-20px);
    width: 300px;
    text-align: center;
    line-height: 1.4em;
    margin: 40px auto;
    background-color: #fff;
    border:8px solid #000;
    border-radius: 30px;
    font-family: sans-serif;
    padding: 20px;
    font-size: large;
    z-index: 2;
    visibility: hidden;
}

p.bubble:before,
p.bubble:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
}
    
p.speech:before {
    left: 30px;
    bottom: -50px;
    border: 25px solid;
    border-color: #000 transparent transparent #000;
}

p.speech:after {
    left: 38px;
    bottom: -30px;
    border: 15px solid;
    border-color: #fff transparent transparent #fff;
}